@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Campusfont";
    src: url('./assets/Fonts/Campusfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Azonix";
    src: url('./assets/Fonts/Azonix.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montsterat";
    src: url('./assets/Fonts/MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}