--extra-index-url https://download.pytorch.org/whl/cu117

torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchaudio==0.13.1+cu117

pytorch-lightning==1.8.3
torchmetrics==0.11.0

pip==23.3.1

hydra-core==1.3.1
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

neptune-client==0.16.16
wandb==0.15.12
comet-ml==3.33.8
mlflow==2.3.2

pyrootutils==1.0.4
pre-commit==3.5.0
rich==13.7.0
pytest==7.4.4

pillow==9.0.1
opencv-python-headless==4.5.5.64

axial-attention

fastapi[standard]